.heading{
    background-color: rgba(70, 69, 69, 0.418);
    padding: 3vw;
    margin-right: -1vw;
    margin-top: -1vw;
    margin-left: -1vw;
}

.iconhome{
width: auto;
position: fixed;
top: 2.5vw;
right: 3vw;
margin-top: 0vw;
margin-right: 0vw;
}