.header {
  background-color: grey;
  height: 10vh;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.box1 {
  display: flex;
  background: black;
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: center;
}

.text1 {
  position: absolute;
  color: white;
  align-items: center;
}
.box2 {
  position: absolute;
  background-color: blueviolet;
  height: 300px;
  width: 300px;
  right: 0px;
  bottom: 0px;
}

.kleineboxen {
  background-color: aqua;
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

.kleineboxen2 {
  position: center;
  background-color: aqua;
  height: 50px;
  width: 50px;
}

.kleineboxen3 {
  position: center;
  background-color: aqua;
  height: 50px;
  width: 50px;
  margin-left: 60px;
}

.kleineboxen4 {
  position: center;
  background-color: aqua;
  height: 50px;
  width: 50px;
  margin-right: 100px;
}

.kleineboxen5 {
  position: center;
  background-color: aqua;
  height: 50px;
  width: 50px;
  margin-left: 60px;
}
