.box{
    position: relative; 
    height: 50vh;
    width: 50vh;
    background-color: aqua;
}

.box2{
    position: absolute; 
    height: 100px;
    width: 100px;
    background-color: rgb(255, 4, 12);
    right: 0px;
    bottom: 0px;
}

.willkommen{
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

.eins{
    position: absolute;
    margin-top: 10px;
    align-content: center;
}

.outbox{
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: brown;
    width: 50px;
    height: 50px
}

.boxwithblock{
    position: relative;
    margin-top: 50px;
    background-color: yellow;
    height: 20vh;
    display: flex;
}

.boxes{
    position: absolute;
    background-color: green;
    width: 50px;
    height: 50px;
}

